/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    withName: FLYE {
        ext.args = [
            "--meta",
            "--scaffold"
        ].join(' ').trim()
    }

    withName: MINIMAP2_ALIGN {
        ext.args = [
            "-x map-ont",
            "-a" //output in SAM format
        ].join(' ').trim()
    }

    withName: NANOPLOT {
        ext.args = [
            "--fastq"
        ].join(' ').trim()
    }

    withName: DIAMOND_BLASTP {
        ext.args = [
            '--long-reads'
        ].join(' ').trim()
    }
}
