/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

params {
    // illumina-specific workflow parameters

    // Fastp parameters
    fastp_save_trimmed_fail                 = false
    fastp_qualified_quality                 = 15
    fastp_cut_mean_quality                  = 15
    adapterremoval_minquality               = 2
    keep_phix                               = false
    adapterremoval_trim_quality_stretch     = false

    // Reproducibility options for metaspades
    metaspades_fix_cpus                     = -1

}

process {
    withName: FASTP {
        ext.args = [
            "-q ${params.fastp_qualified_quality}",
            "--cut_front",
            "--cut_tail",
            "--cut_mean_quality ${params.fastp_cut_mean_quality}"
        ].join(' ').trim()

    }

    withName: METASPADES {
        cpus          = { check_metaspades_cpus (10, task.attempt) }
        memory        = { check_max (75.GB * (2**(task.attempt-1)), 'memory' ) }
        time          = { check_max (24.h  * (2**(task.attempt-1)), 'time'   ) }
        errorStrategy = { task.exitStatus in [143,137,1,250] ? 'retry' : 'finish' }
        maxRetries    = 5
    }

}
